<!-- <h3>Movie Seat Selection</h3> -->
<div class="container">

  <div class="w3ls-reg">
    <!-- input fields -->
    <div class="inputForm">
      <h2>Fill the required details below and select your seats</h2>
      <div class="mr_agilemain">
        <div class="customerName">
          <label> Name
            <span>*</span>
          </label>
          <input type="text" id="Username" required>
        </div>
        <div class="numberOfSeats">
          <label> Number of Seats
            <span>*</span>
          </label>
          <input type="number" id="Numseats" required min="1">
        </div>
      </div>
      <button onclick="takeData()">Start Selecting</button>
    </div>
    <!-- //input fields -->
    <!-- seat availabilty list -->
    <ul class="seat_w3ls">
      <li class="smallBox greenBox">Selected Seat</li>

      <li class="smallBox redBox">Sold Seat</li>

      <li class="smallBox emptyBox">Empty Seat</li>
    </ul>
    <!-- seat availabilty list -->
    <!-- seat layout -->
    <div class="seatStructure txt-center" style="overflow-x:auto;">
      <table id="seatsBlock">
        <p id="notification"></p>
        <tr>
          <td></td>
          <td *ngFor="let column of COLUMNS_ARRAYS">
            {{column}}
          </td>
        </tr>
        <tr *ngFor="let item of ROWS_ARRAYS;let stt= index">
          <td>{{item}}</td>
          <td *ngFor="let data of mapingDatas">
            <input type="checkbox" class="seats" value="{{data.row}}{{data.column}}">
          </td>
        </tr>

      </table>

      <div class="screen">
        <h2 class="wthree">Screen This Way</h2>
      </div>
      <button onclick="updateTextArea()">Seat Selecting Confirm</button>
    </div>
    <ng-template #templateTD>
      <td></td>
    </ng-template>

    <!-- //seat layout -->
    <!-- details after booking displayed here -->
    <div class="displayerBoxes txt-center" style="overflow-x:auto;">
      <table class="Displaytable w3ls-table" width="100%">
        <tr>
          <th>Customer Name</th>
          <th>Total Seat</th>
          <th>Seats</th>
        </tr>
        <tr>
          <td>
            <textarea id="nameDisplay"></textarea>
          </td>
          <td>
            <textarea id="NumberDisplay"></textarea>
          </td>
          <td>
            <textarea id="seatsDisplay"></textarea>
          </td>
        </tr>
      </table>
    </div>
    <!-- //details after booking displayed here -->
  </div>
</div>
<div class="copy-wthree">
  <p>© 2019 Movie Seat Selection . All Rights Reserved | Design by
    Phuc & Tai
  </p>
</div>