<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/default">

<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <th:block layout:fragment="header" />
</head>

<body>
  <section layout:fragment="content">
    <form action="#">
      <table class="table">
        <thead>
          <tr>
            <th>UserID</th>
            <th>UserName</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user: ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
  <th:block layout:fragment="footer" />
  <th:block layout:fragment="scripts">
    <script xmlns:th="http://www.thymeleaf.org" th:src="@{/js/chart.min.js}"></script>
    <script xmlns:th="http://www.thymeleaf.org" th:src="@{/js/custom-chart.js}"></script>
  </th:block>
</body>

</html>